/* ------------------------------------------------------------------
		DESKTOP
------------------------------------------------------------------ */
@include media-breakpoint-up(lg) {

body {
	background-attachment: fixed;
}
/* ------------------------------------------------------------------
			HEADER
------------------------------------------------------------------ */
	header.banner {
		position: initial;
	}
	// MOBILE MENU
	.menu, .mobile-menu-toggle {
		display: none;
	}
	// LOGO
	.brand .logo {
		width: 400px;
	}

}