/* ------------------------------------------------------------------
        FONTS
------------------------------------------------------------------ */
@font-face {
    font-family: 'HK Grotesk Medium';
    src: url('../../dist/fonts/HKGrotesk-Medium.eot');
    src: url('../../dist/fonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../dist/fonts/HKGrotesk-Medium.woff') format('woff'),
        url('../../dist/fonts/HKGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HK Grotesk Bold';
    src: url('../../dist/fonts/HKGrotesk-Bold.eot');
    src: url('../../dist/fonts/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../dist/fonts/HKGrotesk-Bold.woff') format('woff'),
        url('../../dist/fonts/HKGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HK Grotesk Light Italic';
    src: url('../../dist/fonts/HKGrotesk-LightItalic.eot');
    src: url('../../dist/fonts/HKGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../dist/fonts/HKGrotesk-LightItalic.woff') format('woff'),
        url('../../dist/fonts/HKGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'HK Grotesk Regular';
    src: url('../../dist/fonts/HKGrotesk-Regular.eot');
    src: url('../../dist/fonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../dist/fonts/HKGrotesk-Regular.woff') format('woff'),
        url('../../dist/fonts/HKGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HK Grotesk Light';
    src: url('../../dist/fonts/HKGrotesk-Light.eot');
    src: url('../../dist/fonts/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('../../dist/fonts/HKGrotesk-Light.woff') format('woff'),
        url('../../dist/fonts/HKGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}