// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$grid-gutter-width: 	40px;

$statement-color: 		#fff800;

$theme-colors: (
  primary: $statement-color,
  secondary: $statement-color,
  success: $statement-color,
  info: $statement-color,
  warning: $statement-color,
  danger: $statement-color,
  light: $statement-color,
  dark: $statement-color
);

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "components/comments";
@import "components/forms";
@import "components/wp-classes";

@import "layouts/tinymce";

@import 'base';			// Mobile
@import 'tablet';		// Tablet
@import 'desktop';		// Desktop
@import 'fonts';		// Fonts