/* ------------------------------------------------------------------
		TABLET
------------------------------------------------------------------ */
@include media-breakpoint-up(md) {

body {
	background-attachment: fixed;
}
/* ------------------------------------------------------------------
		HEADER
------------------------------------------------------------------ */
header.banner {
	position: initial;
}
// DESKTOP MENU
.nav-primary {
	display: block;

	ul {
		display: table;
		margin: 0 auto;
		li {
			display: inline-block;
			margin: 0 20px;
		}
	}
}
.menu-languages-desktop {
	position: absolute;
	top: 35px;
	right: 30px;
	display: block;

	ul {
		list-style-type: none;
		display: inline-block;

		li {
			display: inline-block;

			a {
				font-size: 1.4em;
			}
		}
	}
}
.festival-dates {
	display: block;
	padding: 0 10px 10px 10px;
}
// MOBILE MENU
.menu, .mobile-menu-toggle {
	display: none;
}
// LOGO
.brand .logo {
	width: 400px;
}

.header-background {
	display: none;
}
.brand .logo {
	width: 300px;
	margin: 20px;
}
/* ------------------------------------------------------------------
			PAGE
------------------------------------------------------------------ */
.page-title {
	display: none;
}
main {
    padding-top: 240px;
}

.artist-social-media {
	text-align: left;
    padding: 0;

    a {
    	margin: 0;
    }
}
/* ------------------------------------------------------------------
		FOOTER
------------------------------------------------------------------ */
footer {
	display: block;
	width: 100%;
	line-height: 70px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	img {
		display: inline-block;
	}
	a {
		display: inline-block;

		&:hover {
			text-decoration: none;
		}
	}
	p {
		display: block;
		margin: 0;
		padding: 0 15px 15px 15px;
		text-align: center;
	}
}
}